*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-style: normal;
}
.main{
    display: flex;
    height: 100vh;
    padding: .5rem .75rem;
}
.side_bar{
    background-color: yellow;
    width: 340px;
    border-radius: 1rem;/*1rem=16px*/
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: .5rem .75rem;
}
a {
    text-decoration: none;

}
.nav-option{
    height: 2.5rem;
    opacity: 0.7;
    padding: .5rem .75rem;
}
.nav-option:hover{
    opacity: 1;
    
}
.nav-option i{
    font-size: 1.2rem;
}
.nav-option a{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.library{
    margin-top: .5rem;
    height: 100%;
    padding: .5rem .75rem;
}
.icons{
    font-size: 1.2rem;
    opacity: 0.5;
    margin-right: 1rem;
}
.icons:hover{
    opacity: 1;
}
.box{
    margin: .5rem 0rem;
    padding: 1rem 1.2rem;
    height: 8rem;
    background-color: #232323;
    border-radius: .75rem ;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
    background-color: #232323;
}
.box-p2{
    font-size: .85rem;
    background-color: #232323;
    opacity: 0.9;

}
.createbutton{
    background-color: white;
    color: #000;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: .25rem 1rem;
    height: 2rem;
    margin: .5rem;
    width: fit-content;
}